/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}


/* 白背景、黒文字のセクション */
.white-bg {
  background-color: white;
  color: black;
  padding: 40px;
}

/* 黒背景、白文字のセクション */
.black-bg {
  background-color: black;
  color: white;
  padding: 40px;
}

header {
  background-color: #222;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  backgroundcolor:black;
  height: 500px; /* 高さを調整 */
  justify-content: cener; /* 水平方向の中央揃え */*/
  align-items: center; /* 縦方向に中央揃え */
  text-align: left;
  padding: 0 20px; /* 左右の余白を追加 */
}

.hero-text {
  max-width: 600px; /* テキストの幅を制限 */
  text-align: left; /* 左揃え */
  display: flex;
  flex-direction: column; /* 子要素を縦に並べる */
}

.hero h1 {
  font-size: 2.5rem; /* フォントサイズを調整 */
  line-height: 1.4; /* 行間を調整 */
  text-align: left; /* 左揃え */ 
  margin-bottom: 20px; /* 下に余白を追加 */
}

.hero p {
  font-size: 1.2rem;
  text-align: left; /* 左揃え */

}


.cta-button {
  padding: 10px 20px;
  background-color: #00AEEF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #008FC4;
}

/* Content Sections */
.content-section {
  padding: 80px;
  text-align: center;
}

.skills-list, .service-list {
  list-style: none;
  padding: 0;
}

.skills-list li, .service-list li {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* Works Section */
.work-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.work-item {
  width: 200px;
  text-align: center;
}

.work-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}


/* Footer */
footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}

